.banner {
    background-image: url("../img/banner.jpeg");
    height: 500px;
    background-size: cover;
    width: 100%;
    background-position: center;



    .titulo {
        text-align: center;
        font-size: $font-size-descricao;
        font-weight: bold;
        color: $branco;
        width: 35vw;
        margin-top: 0;
    }


    .subtitulo {
        text-align: center;
        font-size: $font-size-subtitulo;
        color: $branco;
        margin: 0 auto;
        width: 80vw;
    }

    .btn {
        background-color: $branco;
        border-radius: 1px;
        border: none;
        font-size: $font-size-texto;
        color: $cor-secundaria;
        font-weight: bold;

    }
}