.navbar{
    background-color: $azul;
    height:80px;
    width:100%;
    position:fixed;
    .imagem{
        position: relative;
        top:19px;
        left:100px;
        width:124px;
        height: 124px;
    }
}