.navbar{
    background-color: $azul;
    height:80px;
    width:100vw;
    position:fixed;
    .imagem{
        margin-top: 19px;
        width:124px;
        height: 124px;
    }
    .lista_links{
        list-style-type: none;
        display: inline-block; 
        position: absolute;
        top:4px;
        right: 12.5vw;
        text-transform: uppercase;
        li + li{
            margin-left:30px;
        }
        .links{
            display:inline-block;
            color:$branco;

        }
        .btn_orcamento{
            padding: 10px 30px 10px 30px;
            background-color: $branco;
            border-radius: $border-radius;
            color:$cor-secundaria;
        }
    }
    
}   
@media (max-width:$largura-mobile){
    .menu_hamburguer{
        display: inline-block;
    }
}