.rodape {
    text-align: center;
    position: relative;
    .logo_img {
        width: 124px;
        height: 124px; 
        display:inline-block;
        position: absolute;
        left: 10.4vw;
        bottom: 11px;
    }
    p{
        display: inline-block;
    }
    .vlt__topo {
        width: 6vh;
        position: absolute;
        right:6px; 
        bottom: 34px;
    }
}