// cor
$branco: #ffffff;
$azul: #121A47;
$vermelho: #C90328;
$cinza: #707070;

$cor-primaria: $branco;
$cor-secundaria: $azul;
$cor-titulo-vermelho: $vermelho;
$cor-texto: $cinza;

// fontes

$font-size-titulo: 40px;
$font-size-subtitulo: 32px;
$font-size-descricao: 24px;
$font-size-texto: 16px;


