// cor
$branco: #ffffff;
$azul: #121a47;
$vermelho: #c90328;
$cinza: #707070;
$cinza-claro: #fafafa;

$cor-primaria: $branco;
$cor-secundaria: $azul;
$cor-titulo-vermelho: $vermelho;
$cor-texto: $cinza;

// fontes

$font-size-titulo: 40px;
$font-size-subtitulo: 32px;
$font-size-descricao: 24px;
$font-size-texto: 16px;
