body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar {
  background-color: #121A47;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: auto;
  justify-content: space-between; }
  .navbar .imagem {
    position: relative;
    top: 19px;
    left: 100px;
    width: 124px;
    height: 124px; }

@media (max-width: 960) {
  .menu_hamburguer {
    display: inline-block; } }
